body {
	margin: 0px;
	padding: 0px;
}

/* header */
.headertext {
	background-color: #404852;
	text-align: center;
	font-size: 16px;
	width: 150px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#main {
	width: 1200px;
	margin-top: 50px;
}

/* left */
.left {
	background-color: #404852;
	width: 150px;
	height: 100%;
	float: left;
}

.left_tr {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #FFFFFF;
}
.left_tr i{
	padding-left: 26px;
}
.left_tr a{
	color: #FFFFFF;
}
.left_tr:hover {
	background-color: rgb(40, 49, 60);
	color: #009688;
}
.left_tr:hover >a{
	color: #009688;
}
/* right */
.right {
	height: 100%;
	width: 1000px;
	float: left;
	padding-left: 30px;
}
.right_iframe{
	width: 100%;
	height: 100%;
}
/* order */
.searchBox{
	width: 600px;
}
.search_commodity{
	width: 450px;
	position: absolute;
	top: 50px;
	left: 110px;
}
/* login */
.login {
    box-shadow: 0px 0px 15px #ccc;
    width: 260px;
    margin-top: 200px;
    margin: 0 auto;
    background: #fff;
    padding: 60px 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -205px;
}

.login h2 {
    font-size: 28px;
    font-weight: 100;
    color: #333;
    text-align: center;
    margin-bottom: 50px
}

.login .back{
    float: right;
    color: #666;
}


.layui-form-item{
    position: relative;
}

.layui-form-item .input-icon{
    position: absolute;
    left: 5px;
    top: 10px;
    color: #999;
}
.layui-form-item .layui-input{
    padding-left: 24px;
}
/* ChangePassword */
.ChangePassword {
    box-shadow: 0px 0px 15px #ccc;
    width: 260px;
    margin-top: 200px;
    margin: 0 auto;
    background: #fff;
    padding: 60px 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -205px;
}

.ChangePassword h2 {
    font-size: 28px;
    font-weight: 100;
    color: #333;
    text-align: center;
    margin-bottom: 50px
}

.ChangePassword .back{
    float: right;
    color: #666;
}


.layui-form-item{
    position: relative;
}

.layui-form-item .input-icon{
    position: absolute;
    left: 5px;
    top: 10px;
    color: #999;
}
.layui-form-item .layui-input{
    padding-left: 24px;
}
#verificationCode{
	width: 80px;
	height: 35px;
	position: relative;
}
#passwordHint{
	color: red;
}
/*order*/
.verifyInt{
	text-align: center;
}
